.Product-list {
  padding-bottom: $padding-wrapper;
  .product-heading {
    padding: $padding-wrapper;
    padding-bottom: 10px;
  }
  .Product-catelogs {
    list-style: none;
    display: flex;
    border-bottom: 1px solid $color-primary;
    padding-left: 0;
    overflow: hidden;
    position: sticky;
    background-color: #FFFFFF;
    top: 50px;
    z-index: $cat-filters-index;
    img {
      padding-left: 20px;
    }
    .Product-catelog {
      padding: 15px 20px;
      text-transform: uppercase;
      text-decoration: none;
      color: $color-middle-gray;
      &.active {
        color: $color-black;
      }
    }
  }
}

.product-actions-group {
  .Btn {
    padding: .75rem 8px;
    width: 45%;
  }
}

.product-border-padding-top--0 {
  border-top: 0px!important;
  padding-top: 10px!important;
}
