*.pyc
/backend/db.sqlite3
.DS_Store
.env
**/settings/local.py
/staticfiles/*
/mediafiles/*
__pycache__/
/.vscode/
/product-images

# coverage result
.coverage
/coverage/

# pycharm
.idea/

# data
*.dump

# npm
node_modules/
npm-debug.log

# Webpack

# Sass
.sass-cache
*.map

# General
/venv/
/env/
/output/
/cache/
boilerplate.zip

# Spritesmith
spritesmith-generated/
spritesmith.scss

# templated email
tmp_email/

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
build/

.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*