[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "<3"
djangorestframework = "*"
django-cors-headers = "*"
django-oscar = "*"
django-oscar-api = "*"

[requires]
python_version = "3.8"

[scripts]
deploy = "(pipenv install --skip-lock) && (pipenv run pip install -r production.txt) && ./manage.py migrate "
