@import "stylebase/variables";
@import "stylebase/utils";

.FileUpload-field,
.TextInput-label-text {
  @include a11y-visually-hidden;
}

.TextInput-field {
  border-radius: $border-radius;
  border: 1px solid $color-dark-gray;
  background: $color-light-gray;
  padding: .85em $input-padding-right 1.25em $input-padding-left;
  width: 100%;
  position: relative;
  z-index: 1;
  caret-color: $color-primary;

  &:focus {
    outline: 0;
    border-color: $color-primary;
    color: $color-primary;
  }
}

.TextInput-helpText {
  margin-top: 5px;
  display: block;
  color: $color-dark-gray;
  font-style: italic;
}

.FileUpload {
  margin-top: 10px;
  display: block;
}

.FileUpload-preview {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.FileUpload-img {
  height: 50px;
  margin: (-.85em) 15px (-1.25em) (-$input-padding-left);
  border-radius: $border-radius 0 0 $border-radius;
}

.FileUpload--editView {
  position: relative;

  .Btn {
    display: none;
  }

  .TextInput-field {
    background: 0;
    border: 0;
    border-radius: 0;
    padding: 0;
  }

  .FileUpload-img {
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 0;
    opacity: 0.4;
  }
}

.FileUpload-pen {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -35px;
  margin-left: -35px;
}
