@import "stylebase/variables";

$dimensions: 145px;
$angle: '';

@keyframes rotate {
  0% {
    transform: rotateZ($angle);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.Loader {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: $dimensions / -2;
  margin-top: $dimensions / -2;
  width: $dimensions;
  height: $dimensions;
  border-radius: 50%;
  border: 8px solid #4A4A4A;
  background: #ffffff;

 .hand {
    content: '';
    background: #FF7F48;
    width: 8px;
    border-radius: 8px;
    position: absolute;
    left: $dimensions / 2 - 10px;
    top: $dimensions / 2 - 10px;
    transform-origin: center 3px;
  &.minute {
    height: $dimensions * 0.4;
    animation: rotate  infinite linear 2s;
  }
  &.hour {
    height: $dimensions * 0.25;
    animation: rotate infinite linear 4s;
    }
  }
}

.Message {
  position: fixed;
  left: 0;
  right: 0;
  top: $header-height;
  text-align: center;
  padding: $padding-wrapper;

}
