@import "stylebase/variables";
@import "stylebase/utils";


.View--padded,
.ViewSplitter--padded {
  padding: $padding-wrapper;
}

.View {
  display: flex;
  height: 100%;

  > *:not(.ViewSplitter) {
    width: 100%;
    height: 100%;
  }
}

.ViewSplitter {
  flex: 1 1 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  & + & {
    border-left: 1px solid $color-middle-gray;
  }
}

.ViewSplitter--small {
  @include bp-large() {
    flex: 0 0 40vw;
    max-width: 700px;
    min-width: 500px;
  }
}
