@import "stylebase/variables";
@import "stylebase/utils";


.View--padded,
.ViewSplitter-footer,
.ViewSplitter--padded {
  padding: $padding-wrapper;
}

.View {
  display: flex;
  height: 100%;
  position: relative;

  > *:not(.ViewSplitter) {
    width: 100%;
    height: 100%;
  }

  &--mobile {
    flex-direction: column;

    @include bp-large() {
      flex-direction: row;
    }
  }
}

.ViewSplitter {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  flex: 1 1 auto;
  position: relative;

  @include bp-large() {
    flex: 1 1 100%;
    height: 100%;

    & + & {
      border-left: 1px solid $color-middle-gray;
    }
  }
}

@include bp-large() {
  .ViewSplitter--sm {
    flex: 0 0 40vw;
    max-width: 700px;
    min-width: 500px;
  }

  .ViewSplitter--xs {
    flex: 1 0 30vw;
    max-width: 550px;
    min-width: 435px;
  }
}

.ViewSplitter-footer {
  flex: 0;
}
