.Product-item {
  display: flex;
  .Product-img {
    width: 20%;
    object-fit: contain;
  }
}

.Product-content {
  margin-left: 10px;
  border-bottom: 1px solid $color-gray;
  display: flex;
  width: calc(80% - 10px);
  .Product-review {
    width: 80%;
    padding: 15px 0 10px 0;
    font-size: 14px;
    p {
      font-size: 14px;
      line-height: 15px;
    }
    .variant-price {
      font-size: 16px;
      line-height: 19px;
      color: $color-primary;
      padding-top: 5px;
    }
  }
  .medium-icon {
    width: 28px;
    margin-left: 10px;
    @media (min-width: 767px) {
       width: 46px;
    }
  }
}
