.ProductItem {
  display: flex;
}

.ProductItem-img {
  width: 70px;
  height: 100px;
  object-fit: cover;
}

.ProductItem-content {
  margin-left: 10px;
  border-bottom: 1px solid $color-gray;
  display: flex;
  width: calc(80% - 10px);

  svg {
    color: $color-primary;
  }
}

.ProductItem-review {
  width: 80%;
  padding: 15px 0 10px 0;
  font-size: 14px;

  p {
    font-size: 14px;
    line-height: 15px;
  }
  h4 {
    font-size: 16px;
  }

  .variant-price {
    font-size: 16px;
    line-height: 19px;
    color: $color-primary;
    padding-top: 5px;
  }
}
