@import "stylebase/variables";

.Enlist__social {
  margin-top: 10px;
}

.EnlistModal .Form {
  text-align: left;
}

.Enlist__social-links {
  margin-top: 15px;
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
    margin: 0 5px;
  }

  a {
    color: $color-primary;

    &:hover {
      color: $color-primary;
    }
  }

  svg {
    width: 30px;
    height: auto;
  }
}
