@import "stylebase/variables";

.Team-member-image {

    img {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      border: 1px solid #FF7F48;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }
}

li.Team-member {
  list-style: none;
  padding: $padding-wrapper;
}

.Team {
  display: inline-flex;
  flex-flow: wrap;
  text-align: center;

}