@import "stylebase/variables";
@import "stylebase/utils";

.Footer {
  position: absolute;
  width: 100%;
  height: 147px;
  left: 0px;
  top: 4436px;
  background: #EFEFEF;
}

.Footer-body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: $base-font-size;
  line-height: $base-line-height;
  text-align: center;
  color:$color-black;
}

.Footer-link {
  position: absolute;
  text-decoration: none;
  left: 89.79%;
  right: 6.67%;
  top: 43.54%;
  bottom: 42.86%;
}

.Footer-copyright {
  position: absolute;
  left: 46.67%;
  right: 46.67%;
  top: 43.54%;
  bottom: 42.86%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: $base-font-size;
  line-height: $base-line-height;
  text-align: center;
  color:$color-black;
}

.Footer-logo {
  position: absolute;
  left: 5.9%;
  right: 85.83%;
  top: 39.46%;
  bottom: 38.78%;

  margin: 0 auto;
  width: 90px;

  @include bp-large() {
    margin: 0;
    width: 120px;
  }
  }

