@import "stylebase/variables";
@import "stylebase/utils";

.Footer {
  width: 100%;
  height: 150px;
  background: $color-gray;
  display: flex;
  position: relative;
}

.Footer-links {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
    margin-left: 40px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.Footer-copyright {
  margin: auto;
}

.Footer-body {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.Footer-logo {
  margin: 0 auto;
  width: 90px;

  @include bp-large() {
    margin: 0;
    width: 120px;
  }
}

