@import "stylebase/variables";
@import "stylebase/utils";

.Modal:after {
  content: '';
  position: fixed;
  z-index: 1;
  right: 0;
  left: 0;
  top: $header-height;
  bottom: 0;
  background: rgba($color-dark-gray, 0.5);
}

.Modal-header {
  margin-bottom: 20px;
}

.Modal-body {
  position: fixed;
  text-align: center;
  background-color: #ffffff;
  padding: $padding-wrapper;
  z-index: $header-index;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100vh;
  overflow: auto;

  @include bp-large() {
    max-width: 600px;
    margin: auto;
    bottom: $padding-wrapper;
  }
}

.Close-modal-btn {
  position: absolute;
  right: $padding-wrapper;
  top: $padding-wrapper;
  background: 0;
  border: 0;
  border-radius: 0;
}

.Modal-content {
  height: fit-content;
}
