@import "stylebase/variables";

.Share-toggle {
  color: $color-primary;
  display: flex;
  align-items: center;
  font-weight: 600;
  background: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
}

.Share-icon {
  margin-right: 5px;
  display: block;
  width: 25px;
}

.Modal--opened {

  .Modal-body {
    display: flex;

  }

  &:after {
    content: '';
    position: fixed;
    z-index: -1;
    right: 0;
    left: 0;
    top: $header-height;
    bottom: 0;
    background: rgba($color-dark-gray, 0.5);
  }
}

.Modal-body {
  position: fixed;
  text-align: center;
  background-color: #ffffff;
  padding: $padding-wrapper;
  z-index: $header-index;
  display: none;
  flex-direction: column;
  bottom: 0;
  left: 0;
  width: 100%;
}

.Share-message {
  padding: $padding-wrapper;
  color: $color-black;
}

.Alert {
  padding: $padding-wrapper;
}

