@import "stylebase/variables";

.Share-toggle {
  color: $color-primary;
  display: flex;
  align-items: center;
  font-weight: 600;
  background: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
}

.Share-icon {
  margin-right: 5px;
  display: block;
  width: 25px;
}

.Modal--opened {

  .Modal-body {
    display: flex;
    text-align: center;
    background-color: #ffffff;
    padding: $padding-wrapper;
  }

  &:after {
    content: '';
    position: fixed;
    z-index: -1;
    right: 0;
    left: 0;
    top: $header-height;
    bottom: 0;
    background: rgba($color-dark-gray, 0.5);
  }
}

.Modal-body {
  position: fixed;
  z-index: $header-index;
  display: none;
  flex-direction: column;
  top: 50vh;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $color-gray;
}


.Share-copy {
    padding: 10px;
    margin-left: 0;
    margin-bottom: 10px;
    border-radius: $border-radius;
    width: 100%;
    border-color: $color-primary;
    text-align: center;
    border-style: solid;
}

.Share-message {
  padding: $padding-wrapper;
  color: $color-black;

}

.Share-success {
  margin-bottom: 10px;
}

button.Btn.Btn--secondary.undefined {
    background: transparent;
    border: none;
    box-shadow: none;
}
