@import "stylebase/variables";
@import "stylebase/utils";

.Btn {
  display: inline-block;
  width: 100%;
  padding: .75rem 1.5rem;
  border-radius: 10px;
  border: 0;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: .02em;
  text-decoration: none;
  color: white;
  text-align: center;
  background: $color-primary;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.09);

  @include bp-large() {
    font-size: 20px;
    padding: 18px 25px;
  }

  &--secondary {
    color: $color-dark-gray;
    background: $color-gray;
  }

  &--pay {
    background: $color-blue;
  }

  &--inverted {
    background: #fff;
    color: $color-black;
  }

  &--confirm {
    background: $color-green;
  }
}

.Btn-group {
  display: flex;
  flex-direction: column;

  > * + * {
    margin-top: 12px;

    @include bp-large() {
      margin-top: 20px;
    }
  }
}
