@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,400&display=swap');

body {
  font-family: $font-stack;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include bp-large() {
    font-size: 20px;
  }
}

h1, .h1 {
  font-size: 30px;
  line-height: 35px;
  hyphens: auto;

  @include bp-large() {
    font-size: 60px;
    line-height: 1;
    font-weight: 400;
  }
}

h2, .h2 {
  font-size: 20px;
  line-height: 35px;
}

h3, .h3 {
  font-weight: 300;
  font-size: 30px;
  line-height: 1.27;
}

h4, .h4 {
  font-size: 1em;
  line-height: 1.2;
  font-weight: 600;
}

.Intro {
  margin-bottom: .65em;

  p {
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 16px;

    @include bp-large() {
      font-size: 30px;
      line-height: 1.26;
    }
  }
}
