.medium-emphasis {
  color: $medium-emphasis;
}

.high-emphasis {
  color: $high-emphasis;
}

@mixin a11y-visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}
