// colors
$color-primary: #FF7F48;
$color-light-gray: #FBFBFB;
$color-gray: #E9E9E9;
$color-dark-gray: #4A4A4A;
$color-black: #000000;

// layout
$padding-wrapper: 25px;

// styles
$medium-emphasis: rgba($color-black, 0.6);
$high-emphasis: rgba($color-black, 0.87);

$border-radius: 10px;

// font
$font-stack: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
$base-font-size: 87.5%; // 14px - mobile
$base-line-height: 125%;

// transitions
$primary-transition: .3s cubic-bezier(0.25, 0.8, 0.5, 1);
$secondary-transition: .2s cubic-bezier(0.4, 0, 0.6, 1);

// form fields
$input-padding-left: 1.125em;
$input-padding-right: 1.4em;
