@import "stylebase/utils";

.PhotoSelect {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;

  @include bp-large() {
    flex-shrink: 1;
  }
}

.PhotoSelect .Intro {
  @include bp-large() {
    margin-bottom: auto;
  }
}
