@import "stylebase/utils";

.PhotoSelect {
  display: flex;
  flex-direction: column;

  .ViewSplitter,
  .ViewSplitter-footer {
    width: 100%;
  }

  .ViewSplitter-footer:empty {
    display: none;
  }

  .ViewSplitter--padded {
    flex-shrink: 0;
    height: auto;
    @include bp-large() {
      flex-shrink: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }

  @include bp-large() {
    flex-direction: row;
    flex-shrink: 1;
  }
}

.PhotoSelect .Intro {
  @include bp-large() {
    margin-bottom: auto;
  }
}
