# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Runs a set of commands using the runners shell
    - name: Run a multi-line script
      run: |
        npm install
        npm run build
      working-directory: ./frontend

    - if: github.event_name == 'push'
      name: Deploy to Server
      uses: SamKirkland/FTP-Deploy-Action@3.0.0
      with:
        # Deployment destination server & path. Formatted as protocol://domain.com:port/full/destination/path/
        ftp-server: ${{ secrets.REMOTE_HOST }}${{ secrets.REMOTE_TARGET }}
        # FTP account username
        ftp-username: ${{ secrets.REMOTE_USER }}
        # FTP account password
        ftp-password: ${{ secrets.REMOTE_PASS }}
        # The local folder to copy, defaults to root project folder
        local-dir: "frontend/build/"
